<template>
    <div>
        <multiselect :options="[1, 2, 3]"></multiselect>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'

    export default {
        components: {Multiselect},
        data: function () {
            return {
            }
        },
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>